{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block main %}

    <h1>Внутренний ID товара - {{ productId }}</h1>
    <h1> Наименование товара - {{ productName }}</h1>
    <ul>
        <table>

            <tr><td> Цена {{ productPrice }} руб.</td></tr>
            <tr><td> Артикул товара - {{ productSku }}</td></tr>
            <tr><td>Продавец {{ Seller }}</td></tr>
            <tr><td> Создан {{ productCreatedAt }}</td></tr>

        </table>
    </ul>
{% endblock main %}
